<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.maul.mobook">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/mobook"
        android:label="@string/app_name"
        android:roundIcon="@drawable/mobook"
        android:supportsRtl="true"
        android:theme="@style/Theme.TugasUAS_10120109_Maul"
        tools:targetApi="31">
        <activity
            android:name="com.maul.mobook.SignUpActivity"
            android:exported="false" />
        <activity
            android:name="com.maul.mobook.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.maul.mobook.ActivityHome"
            android:exported="false"
            android:label="Home Screen"
            android:theme="@style/apptheme.NoActionBar" />
        <activity
            android:name="com.maul.mobook.ui.daily.EditDiaryActivity"
            android:exported="false"
            android:theme="@style/apptheme.NoActionBar" />
        <activity
            android:name="com.maul.mobook.ui.about.FragmentAbout"
            android:exported="false"
            android:theme="@style/apptheme.NoActionBar"
            tools:ignore="Instantiatable" />
        <activity
            android:name="com.maul.mobook.ui.daily.CreateDiaryActivity"
            android:exported="false"
            android:theme="@style/apptheme.NoActionBar" />
        <activity
            android:name="com.maul.mobook.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.maul.mobook.ActivityWelcomeDialog"
            android:exported="false"
            android:theme="@style/apptheme.NoActionBar" />
        <activity
            android:name="com.maul.mobook.ActivitySplashScreen"
            android:exported="true"
            android:theme="@style/apptheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>